.drag-area {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.table {
  width: 100%;
}

.full-width {
  width: 100%;
}

.card {
  position: sticky;
  top: 0px;

}
.flex-content{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.mat-column-raw{
  width:30%;
}

.mat-column-origin {
  width:30%;
}
.origin-panel{
  height:100%;
}