<h1 mat-dialog-title>承包</h1>
<div mat-dialog-content>
  <p>你要承包多少
    <button mat-raised-button (click)="allocateAll()">
      承包{{data.maxCount > 100 ? '100条' : '所有'}}
    </button>
  </p>
  <div style="display:flex;">
    <mat-form-field>
      <input matInput [(ngModel)]="allocateCount" />
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">卜了</button>
  <button mat-button (click)="onAllocateClick()" cdkFocusInitial>交给我吧！</button>
</div>
