<h2>进度</h2>
<app-processbar [max]="file.sectionCount" [data]="data" [desc]="true"></app-processbar>
<mat-tab-group>
  <mat-tab label="承包">
    <div class="tab-container">
      <div class="job">
        <p>我承包了 {{myContractor}}</p>
        <button mat-raised-button color="accent" (click)="openAllocateDialog()">承包</button>
        <button mat-raised-button (click)="openPreviewDialog()">预览</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="校对/润色">
    <div class="tab-container">
      <button mat-raised-button color="accent" (click)="openEditor()">进入编辑器</button>
    </div>
  </mat-tab>
</mat-tab-group>